[2019-06-11 18:52] starsinmypockets opened #3 "` Error: Nock: No match for request ` when CMS_URL enabled in .env"
Steps to reproduce:
1. `mv template.env .env`
2. Update `CMS_URL` in `.env`
3. `yarn start`

Error:
[code]

[2019-06-12 07:30] anuveyatsu commented on #3
@starsinmypockets you probably mean `WP_URL`? I've missed saying in the README that you need to set `NODE_ENV` env var to something not equal to `development` to switch off the mocks.

[2019-06-12 07:34] #3 closed

[2019-06-12 07:36] anuveyatsu opened #4 "Where do we store config files, setup scripts and additional NPM packages for theming?"
At the moment, I'm not sure what to do with `tailwind.config.js`, `gulpfile.js`, `/src/*` files and additional NPM packages are needed for theming of OpenDK (see `/themes/opendk/`). Probably they should be placed somewhere in the themes directory.

[2019-06-12 07:50] smth commented on #4
Might make sense to (eventually) treat the theme as its own project, and include as a submodule. Then all this stuff could live at the root of that project.

[2019-06-12 08:09] anuveyatsu commented on #4
@smth yes, I agree and support that option. Developers want to be able to pull new commits in this repo, e.g., bug fixes and improvements.

[2019-06-12 11:19] anuveyatsu opened #5 "How to do translations in a theme?"
User story: *As a developer, I want to implement i18n in my theme so that my site is understandable for more people.*

Problem: I'm not sure how to implement translations for my theme, e.g., I need to have English and Danish versions of my website.

## Acceptance criteria

* [x] I know how to do i18n of my theme
* [x] I have docs with instructions that I can reference

## Tasks

* [x] Analysis
* [

[2019-06-13 05:50] anuveyatsu opened #6 "Content in multiple languages"
Assuming we use WordPress as CMS backend, how would I have posts/pages in multiple languages?

## Acceptance criteria

* [x] I can see a blog post in 2 languages
* [x] I can read a blog post in English and then I can switch to another language

## Tasks

* [x] Analysis
* [x] Implementation
* [x] Documentation

## Analysis

Suggestion:

E.g., for `/about` page we would have two pages on WP, `about`

[2019-06-13 09:27] smth opened #7 "UnhandledPromiseRejectionWarning"
I'm seeing the following when running locally.

[code]

[2019-06-13 09:34] rufuspollock opened #8 "Showcase page with CKAN backend"
## Tasks

* [x] Have it working (with DataHub style)
* [x] Have it working (with new tailwind ...)

### Outstanding issues

* `schema` for tabular data is usually missed in CKAN. We have to generate it since showcasing uses it. This creates another complication: to generate `schema` we need to read/open a resource. If it is a datastore dump, a) it might be a huge file; b) it can be "bad" data, eg,

[2019-06-13 17:52] starsinmypockets opened #9 "Template Variables - where / what / how"
I want to be able to provide template variables to my custom templates.
1. What, if any, variables are available within templates by default?
1a. What is the best extant way to debug available template variables
2. Where / how can I add custom (controller) logic to pass new variables to my theme templates?
2a. I want to implement a feature similar to https://github.com/OpenGov-OpenData/ckanext-cob

[2019-06-14 09:08] smth opened #10 "No way for base template to know the current page?"
It would be good to be able to style the current page link differently in the main navigation. Perhaps by querying the current path? {% if current_slug == "about" %}.

[2019-06-15 13:22] anuveyatsu commented on #9
@starsinmypockets may be it's time to create a separate docs directory or repo but for now, I'll add it in the README.md of this repo.

[2019-06-15 13:34] anuveyatsu commented on #9
FIXED, see "Theming" section of the README:

https://github.com/datopian/frontend-v2#theming

[2019-06-15 13:34] #9 closed

[2019-06-15 13:35] anuveyatsu commented on #9
@starsinmypockets if you need any additional stuff in the templates, please, open a new issue with details. Thank you!

[2019-06-15 13:35] anuveyatsu commented on #7
@smth if you think this fixed your issue, please close it

[2019-06-16 09:11] anuveyatsu commented on #5
FIXED, see https://github.com/datopian/frontend-v2#i18n

[2019-06-16 09:11] #5 closed

[2019-06-16 09:11] anuveyatsu commented on #6
FIXED, see https://github.com/datopian/frontend-v2#i18n-of-the-content

[2019-06-16 09:11] #6 closed

[2019-06-17 14:34] starsinmypockets opened #11 "Feature request: ability to add arbitrary route with template / controller / variables from path (and document)"
## User Story
As a themer / developer, I want to add a custom page to the front end.
I want to use a clear interface with reasonable defaults.

## Details
Maybe the interface looks something like:
* Add route config to routes.json:
[code]
* add template file at `themes/MY-THEME/views/cool-page-template.html`
* add controller at `themes/MY-THEME/controllers/cool-page-controller.html`

## Notes
Not

[2019-06-17 17:03] starsinmypockets commented on #11
Doesn't look like I can assign myself but I'm working on a PR for this

[2019-06-18 10:07] anuveyatsu commented on #11
@starsinmypockets what is your use case - can you please provide an example? E.g., if you need a custom static page which can be done in CMS, then you don't need to define custom route.

[2019-06-19 07:22] #7 closed

[2019-06-19 07:36] smth commented on #11
This might be a separate issue, but could be resolved by the above, so will add as a comment here to begin with. Currently every "content" page uses the same template `static.html`. That means that if you want blog related stuff in or alongside your blog posts, then that stuff will also be on your "About" page.

I say it might be a separate issue, because there is an `about.html` template, which I

[2019-06-19 10:05] anuveyatsu commented on #11
@smth good catch - `about.html` wasn't used by `about` page. Currently, all static pages are using `static.html`.

To solve this issue I think we need to define which static pages need its own template. I guess for now it is only `about` page. In the future, we may need `contact` page as well. @starsinmypockets WDYT?

Options:

1. Create a separate router for `about` and other special static pages

[2019-06-19 10:18] smth commented on #11
In the case of Open Data DK, "About" will be a collection of pages, rather than a single page. I would suggest that all pages in such a section have navigation in the template, linking to each page in that section.

[2019-06-19 11:23] anuveyatsu commented on #11
@smth do you mean something like `/news` page where we have a list of posts/news returned from CMS backend or something more custom where you can hard code selected pages?

[2019-06-19 12:22] starsinmypockets commented on #11
See https://github.com/datopian/frontend-v2/pull/12

[2019-06-20 09:28] anuveyatsu commented on #11
@starsinmypockets could you give us an example of usage in your case? It would be useful to do the analysis.

[2019-06-20 11:21] starsinmypockets commented on #11
We should provide hooks so that developers can add controllers, routes, and middleware, that way we are developing an unopinionated framework. The use case I am thinking of is the use case we didn't think of, whatever that may be :)

[2019-06-20 11:22] starsinmypockets commented on #11
In my case (see the initial example) I wanted to add a route with a custom template that accepted an argument from the url.

[2019-06-20 11:35] starsinmypockets commented on #11
The same way that ckan allows custom extensions, drupal, wordpress, etc have plugin formats, we should simply include a place where developers can plug in custom code / routes  / controllers, as a basic design feature of a flexible platform :) I don't think the "what will you do with it" question is really relevant. It's sort of like asking "if I add a USB port, what will you plug into it" -- the

[2019-06-20 11:59] starsinmypockets commented on #11
A bit an aside on philosophy: As a react and an express developer, I understand how the technologies work and I don't want to use a _subset_ of the technologies (restrictive product model) I want to use a _superset_ (permissive library / framework / extension model). I want access to a set of stable and tested features (paths, pages, integrations, tests, etc) that already do things I frequently do

[2019-06-20 12:42] starsinmypockets commented on #11
cc @rufuspollock

[2019-06-20 16:47] rufuspollock commented on #11
@starsinmypockets i recommend analysing this properly in a hackmd with @anuveyatsu tomorrow (ie. set out the specific user story, do analysis of options for doing it etc)

[2019-06-24 10:54] rufuspollock opened #15 "Authentication support"
As a Portal Owner I want users to authenticate so that I can do access control or show them different content depending on their status

* Private datasets
* ...

[2019-06-24 10:55] rufuspollock opened #16 "Authorization support"
As X I want to limit access to certain datasets or other information based on a user's identity

## Analysis

* [ ] User identity (`visitor`) if not logged in #15
* [ ] Pre-request hook on every request that does authz check
* [ ] Map that against backend
* [ ] Delegate authz request to that backend ...

[2019-06-25 08:54] anuveyatsu opened #17 "Analysis of showcase page"
Eg, what we need, what would we need on core NG Frontend and what would we need to support from CKAN. For instance:
* Data previews are mandatory
* Tabular data
* Geo data
* Other data
* sharable/bookmarkable filters, e.g., in the URL (we’ve discussed this is needed for Energinet + Montreal and also sounds as a very useful feature)

[2019-06-26 03:49] anuveyatsu opened #18 "Plural vs singular in paths"
E.g., we have `/collections` which is list of CKAN groups but we also will have `organization` which is list of CKAN orgs.

@rufuspollock @starsinmypockets @svetozarstojkovic any thoughts?

[2019-06-28 10:40] smth opened #20 "Erroneous em tag"
The layout on this page https://frontend-v2-openddk.herokuapp.com/news is a bit broken, looks like the second column has gotten wrapped in an `em` tag somehow. I couldn't reproduce locally.

[2019-06-28 10:44] smth opened #21 "Org collections image bg colour"
The background colour for the images here https://frontend-v2-openddk.herokuapp.com/organization should probably be changed to white. As this page is sharing a template with groups, there's a decision to be made about how to achieve this. Perhaps an "if orgs" statement in the template.

The change that needs to be made is changing `bg-secondary` to `bg-white` here https://github.com/datopian/front

[2019-07-01 21:20] starsinmypockets opened #22 "[EPIC] Plugin / Extensibility for CKAN NG frontend"
As a Developer i want to add functionality (new pages/routes and new middleware) to an existing frontend without having to fork the frontend so that I can make a richer data portal and work quickly without breaking the core and without having to make product decisions.

## Acceptance Criteria

- [x] Developer can extend frontend with plugin that adds custom middleware
- [x] Developer can implement

[2019-07-01 21:33] starsinmypockets opened #23 "Create NPM @ckan namespace for ckan modules"
## Description
As an X I want to be able to find and publish NPM modules under the `@ckan` namespace to help facilitate faster frontend development

## Acceptance criteria
- [ ] Publish library to @ckan namespace (example - publish @ckanext-datapackage-views-js)

## Tasks
- [ ] Setup namespace with npm [1hr]
- [ ] Publish package to namespace [1hr]

[2019-07-01 22:16] starsinmypockets opened #24 "load plugins from local environment or from NPM"
## Description
* As a Developer I want to add a new page with functionality to the site so that I can continue development without needing to fork frontend  => subapp
* As a Developer I want a new blog index page that shows most popular posts from a currently non-supported source so that clients can continue to use existing blog => theming + controller + new backend call from within route controll

[2019-07-01 22:18] starsinmypockets opened #25 "[SPIKE] Template inheritance / precedence"
## Description
How does template inheritance work across plugins (can they inherit from the theme / base ...)

[2019-07-01 22:21] starsinmypockets opened #26 "CMS / DMS extension -- requirements & implementation analysis"
## Description
As a developer I want to be able to add CMS and DMS backends so that I can support my current data source or content source.

## Example
  * CMS (+ add your own backend e.g. Joomla or Drupal)
  * DMS (+ add your own backend e.g. flat pages)

[2019-07-01 22:34] starsinmypockets opened #27 "Add developer docs for frontend extension patterns [4hrs]"
## Description
Add documentation of how to extend frontend

## Acceptance Criteria [@TODO]

## Tasks
- [ ] High level
- [ ] Adding custom plugins
- [ ] Adding extensions via npm
- [ ] Adding custom routes via themes
- [ ] Adding custom middleware via themes

[2019-07-02 04:09] anuveyatsu commented on #23
@starsinmypockets do you mean scopes? E.g., you want to have an org and publish packages under that - `@ckan/datapackage-views-js`? But I don't think datapackage-views-js is a good example.

[2019-07-02 07:51] anuveyatsu commented on #21
FIXED

[2019-07-02 07:51] #21 closed

[2019-07-02 07:52] anuveyatsu commented on #20
@smth I can reproduce locally but I don't understand how it gets wrapped in an `em`. Is it something to do with Tailwind?

[2019-07-02 07:54] anuveyatsu commented on #10
@smth yes, we need to pass some parameter from controller, e.g., I'm doing so in orgs and collections page: https://github.com/datopian/frontend-v2/blob/master/routes/dms.js#L89

[2019-07-02 07:55] anuveyatsu commented on #8
FIXED, see the demo https://frontend-v2-openddk.herokuapp.com/city-of-copenhagen/afmaerkning_total

[2019-07-02 07:55] #8 closed

[2019-07-02 07:56] anuveyatsu commented on #17
FIXED - analysis are in hackmd document. We'll include it in the docs later.

[2019-07-02 07:56] #17 closed

[2019-07-02 08:57] smth commented on #20
I wouldn't have thought so. Maybe an unclosed tag in the data somewhere? Assuming you are using a different API, that would explain why you are seeing it, while I'm not.

[2019-07-02 11:18] starsinmypockets commented on #23
Yes.

[2019-07-03 13:03] starsinmypockets opened #29 "Cannot set config value on instantiated app"
## Description
As a developer I want to be able to set config values on the fly so that I can write robust tests that test behavior with different configurations

https://gist.github.com/starsinmypockets/f3ac2746c3f4725249e3311e5372678b

## Acceptance Criteria
- [ ] Tests in gist (or similar) pass

## Tasks
- [ ] Analyze / update config module

[2019-07-03 13:36] anuveyatsu commented on #29
Not sure if it worth to do...

On Wed, 3 Jul 2019, 19:03 Paul Walker, <notifications@github.com> wrote:

[2019-07-03 13:50] starsinmypockets commented on #29
It would be awesome to be able to test the app in multiple configurations to ensure that we don't cause regressions.

I think the point of ngconf is to manage config for multiple environments.

[2019-07-03 14:07] starsinmypockets commented on #29
Anyway this is a bug report `config.set` does not work

[2019-07-04 12:57] starsinmypockets commented on #29
@anuveyatsu Still stuck on this unfortunately.
 I need to be able to test how the app behaves with user-defined env variables that are not present in CI, hence: need to set env variables inside of tests
I think there might be a simple workaround here but I'm stuck :(

[2019-07-04 13:07] anuveyatsu commented on #29
@starsinmypockets sorry but I don't think it worth to do and I would suggest not spending any time on this issue.

[2019-07-04 13:15] starsinmypockets commented on #29
@anuveyatsu I think you misunderstand. This is a blocker for including tests of the extension work.

[2019-07-04 13:15] #29 closed

[2019-07-04 14:08] starsinmypockets commented on #29
using `nconf.use('memory')` in config/index.js solves this issue

[2019-07-07 15:57] starsinmypockets opened #30 "Add "Contributing" section to readme"
## Description
Add a "Contributing" section with a reasonable level of detail so developers can contribute and maintain current standards/

## Acceptance Criteria
- [ ] Contributing section of README exists wth:
  - [ ] Instructions for testing and coverage
  - [ ] Link to code standards
  - [ ] PR instructions

[2019-07-09 15:42] anuveyatsu opened #32 "Implement Google Analytics"
As a site owner, I want to know how many users are visiting my site and how they are interacting with the site so that I can get insights into the use and develop the site accordingly.

## Acceptance criteria

* [x] I have everything in the list above working

## Tasks

* [x] Analysis, eg, we can implement it in frontend-v2 master so that you just add `GA_ID` or similar env var to make it work
* [

[2019-07-11 09:19] anuveyatsu opened #33 "Custom route shouldn't override CMS routes"
E.g., if I define a custom route controller for `/:parent/:page` it overrides the CMS pages such as `/news/:post` which I don't really want to happen.

This is where we define CMS and DMS routes: https://github.com/datopian/frontend-v2/blob/master/index.js#L69-L72

[2019-07-16 06:37] anuveyatsu commented on #32
@svetozarstojkovic can you please update this issue? Generally, can you tick items as soon as they're done so we can understand where we are at?

[2019-07-16 18:17] svetozarstojkovic commented on #32
For this to work, you need to make one additional adjustment.
Add "GA_ID=UA-XXXXXXXXX-Y" (Google Analytics tracker id) to your .env file.

[2019-07-17 04:54] anuveyatsu commented on #33
This can be fixed by doing the following:

[code]

[2019-07-17 18:22] svetozarstojkovic commented on #32
Google analytics has been implemented as a plugin, info how to use it can be found in README of the repo.
Since PR has been merged, this ticket can be closed.

[2019-07-17 18:22] #32 closed

[2019-07-17 18:54] svetozarstojkovic commented on #18
@anuveyatsu
If we for example go by EDS original implementation: https://www.energidataservice.dk, we have made transitions:
* `https://www.energidataservice.dk/group` -> `/collections`
* `https://www.energidataservice.dk/organization` -> `/organization`

if we go against that then we made a mistake by replacing `/group`(singular) with `/collections`(plural).

On the other hand it makes more sense

[2019-07-17 19:38] pwalsh commented on #18
http://handbook.datopian.com/coding-standards/

Section at end on rest APIs is useful.

[2019-08-02 18:08] anuveyatsu commented on #24
@starsinmypockets can we close this now?

[2019-08-02 18:09] anuveyatsu commented on #22
@starsinmypockets do you think we can close it now?

[2019-08-08 11:41] georgiana-b opened #46 "Template changes not being automatically loaded"
Hello! I was just following the tutorial [here](https://kb.datopian.com/#ckan-next-gen-documentation). I installed the app following [these steps](https://kb.datopian.com/#installation) using `npm`.

The server is running with no errors, everything seems to be ok but the changes I make to my custom template in `/themes/example/views/home.html` are not picked up automatically. They are picked up on

[2019-08-08 12:25] anuveyatsu commented on #46
@georgiana-b thanks for reporting this :+1:

I guess nodemon doesn't listen for HTML changes so you need to explicitly flag it:

[code]

Read more here - https://github.com/remy/nodemon#specifying-extension-watch-list

[2019-08-08 12:26] anuveyatsu commented on #46
It isn't mentioned in the tutorial but in the README of this repo.

[2019-08-08 12:53] georgiana-b commented on #46
Oh, thanks a lot. I was looking at the [`nodemon` docs on npm](https://www.npmjs.com/package/nodemon) which don't mention that part.

I think it would be very helpful if we would add it as a command in  `package.json`

[code]

And then in the tutorial we could instruct people to run `npm run dev` instead of `npm start`.  This way we can avoid confusion for people who follow the tutorial while also

[2019-08-08 13:54] georgiana-b commented on #46
Another colleague just went through this and he also instinctively tried to run `npm run dev` (i.e. `yarn dev`) which is (at least the unofficial) community practice. Will come back with a PR :)

[2019-08-08 14:10] anuveyatsu commented on #46
Great!

On Thu, 8 Aug 2019, 19:54 Georgiana Bere, <notifications@github.com> wrote:

[2019-08-08 14:29] georgiana-b commented on #46
Hey, turns out I don't have permissions to push a branch and open a PR. Could you please add me as contributor?

[2019-08-08 16:15] anuveyatsu commented on #46
@georgiana-b sorry about that - just given you permission

[2019-08-13 15:51] cbenz opened #49 "Error 409 conflict"
Steps to reproduce:
- install following http://kb.datopian.com/#installation (using `API_URL=http://demo.ckan.org/api/3/action/`)
- start with `yarn start`
- go to http://localhost:4000/dataset/app-developers-toronto

There is a 409 Conflict error, and the layout is broken:

![image](https://user-images.githubusercontent.com/12686/62956319-0760d580-bdf3-11e9-8847-2fc0a96c9835.png)

Nothing is disp

[2019-08-13 16:20] anuveyatsu commented on #49
@cbenz looks like API endpoint isn't correct. I think demo ckan has some redirection setup. Can you try to use https protocol?

[2019-08-13 17:20] cbenz commented on #49
It works using https, thanks!

[2019-08-13 17:20] #49 closed

[2019-08-13 17:25] cbenz commented on #49
Related merge request: https://gitlab.com/datopian/tech/kb/merge_requests/4

[2019-08-14 12:16] cbenz opened #50 "Plugin tests don't start because of failing makeApp"
Steps to reproduce:

[code]

I get this error:

[code]

I think it should just display "No tests found in plugins/ng-classic-ldap/tests/routes.test.js", but not raise the exception.

I suppose that this is related to the `listen` function executed twice, but did not achieve to fix that.

[2019-08-14 12:27] cbenz commented on #50
Note: when I comment [this line](https://github.com/datopian/frontend-v2/blob/d0fd2ac8b87580cdc104a8d456af5f36e6bdb288/index.js#L116) the tests are starting without this error.

[2019-08-19 07:09] anuveyatsu commented on #50
@cbenz quick thought: looks like related to `supertest` module.

[2019-08-19 07:22] anuveyatsu commented on #50
@cbenz looks like you did some changes and now this is not an issue anymore?

[2019-08-19 15:47] cbenz commented on #50
I don't think I made any changes on purpose, but it works now for me too :)

So I close this issue.

[2019-08-19 15:47] #50 closed

[2019-08-20 05:44] anuveyatsu commented on #46
FIXED, devs can now run the dev mode by `yarn dev` or `npm run dev`. See PR above for details.

[2019-08-20 05:44] #46 closed

[2019-08-28 14:48] mgaitan opened #60 "404 errors due wp plugin"
If I enable the `wp` plugin, every frontend's static page works but any endpoint that requests the API get a 404. (for instance `/search`, `/organization`, etc)

This is my `.env` file

[code]

Disabling `wp` it works, but the error was very difficult to track becase there wasn't any traceback log.

My nodejs version is
[code]

[2019-08-29 06:00] anuveyatsu commented on #60
@mgaitan @cbenz did you identify why it happens? Maybe the sequence diagram in the readme would help to understand the flow:

https://camo.githubusercontent.com/877875b06a61362e403daf89a46f3be8ae7ec26b/68747470733a2f2f692e696d6775722e636f6d2f5459644a614f532e706e67

[2019-08-29 10:17] cbenz commented on #60
@anuveyatsu I understand the sequence diagram, but in that case it is because a rejected promise is not handled (`UnhandledPromiseRejectionWarning`) in the `/` route handler of the plugin:

https://github.com/datopian/frontend-v2/blob/55a246bb8d13ce4174ad74fbefaf1e461222abf6/plugins/wp/index.js#L17

Whereas it is [here](https://github.com/datopian/frontend-v2/blob/55a246bb8d13ce4174ad74fbefaf1e461

[2019-08-29 16:30] georgiana-b commented on #33
I reopened this because I thought the proposed solution doesn't work. I was using:

[code]

but then I realized I need to replace `parent` with whatever route we our trying to avoid, in our case `collections`.

It doesn't feel very clean but I did some research and didn't find anything more promising so we'll go with that and close this again.

[2019-08-29 16:30] #33 closed

[2019-08-30 05:37] anuveyatsu opened #62 "Montreal theme in package.json"
@starsinmypockets I guess it is leftover and should be removed:

https://github.com/datopian/frontend-v2/blob/master/package.json#L47

[2019-09-02 10:45] cbenz opened #67 "Session expires too quickly"
Express session is configured with an hard-coded value:

https://github.com/datopian/frontend-v2/blob/5781075de0931a63bc461db8991cc1dd543afaee/index.js#L51

`60000` is actually in milliseconds as stated [here](https://github.com/expressjs/session#cookiemaxage) so it is one minute. The default value is "never expire" and should be used.

Environment variables should be added:
- `SESSION_COOKIE_MAX_

[2019-09-02 13:34] #67 closed

[2019-09-02 15:12] cbenz opened #69 "Session lost in dev mode on code reload"
In dev mode (`npm run dev`) each time the code reloads, the session is lost (i.e. if I was logged-in before, I'm logged out after code reload).

This breaks developement experience and is easily fixable by using https://www.npmjs.com/package/session-file-store

[2019-09-02 15:23] cbenz commented on #69
Actually this should be enabled only for development mode

[2019-09-03 05:01] anuveyatsu commented on #62
FIXED in https://github.com/datopian/frontend-v2/commit/5781075de0931a63bc461db8991cc1dd543afaee

[2019-09-03 05:01] #62 closed

[2019-09-11 18:35] rufuspollock opened #77 "Map Extras from CKAN dataset and group across"
See the TODO in lib/dms.js here https://github.com/datopian/frontend-v2/blob/master/utils/index.js#L83

Here's some sample code to do this ...

[code]

[2019-09-16 17:38] svetozarstojkovic opened #85 "Pre/Post hooks"
Last week @starsinmypockets and I came across a weird behaviour while implementing 'ckan_pages' plugin.

1. '/' endpoint was overwritten in the theme index.js file.
2. in the plugin I tried to add a session variable that can be used in nunjucks template.

The problem was that the theme endpoint was executed before the plugin and there res.render function was called and we get an html page before v

[2019-09-18 06:23] anuveyatsu opened #86 "WP plugin shouldn't override home route"
Currently, if I use WP plugin, it completely replaces implementation from core controller. It is also not possible to combine it with theme controller.

The current code: https://github.com/datopian/frontend-v2/blob/master/plugins/wp/index.js#L14-L32

Desired flow:

[code]

so that devs can implement any solution in their theme.

## Acceptance criteria

* [x] WP plugin doesn't override home route

[2019-09-18 06:26] anuveyatsu commented on #85
@svetozarstojkovic I think plugins shouldn't override existing routes but add variables into the response so that they can be used in the view. I've created specific issue re WP here #86

[2019-09-18 06:27] anuveyatsu commented on #86
Related #85

[2019-09-18 11:06] anuveyatsu commented on #85
@svetozarstojkovic here we implemented some changes that can resolve this issue https://github.com/datopian/frontend-v2/pull/87

[2019-09-18 11:07] anuveyatsu commented on #86
FIXED in #87

[2019-09-18 11:07] #86 closed

[2019-09-18 19:19] svetozarstojkovic commented on #85
@anuveyatsu @sagargg can this ticket be closed then?

[2019-09-19 04:32] anuveyatsu commented on #85
Agree re docs @svetozarstojkovic

[2019-09-23 03:16] sagargg opened #93 "extending core controller on theme and plugin controller."
While some changes and modification required on the core controller eg.  `changing the object key or reassign value etc.. ` could not do without overriding the entire controller on a theme or on the plugin.

## Analysis
 It can be fixed with the following flow. But need more analysis before implementation.

*PSUEDOCODE*
[code]

[2019-09-24 04:46] anuveyatsu commented on #93
*Copying my comment from gitlab*

What we could do here is to use `app.param` of expressJS that solves this issue:

[code]

So when you hit `/foo/bar` it would print `CALLED` but not when you hit `/collections/environment`.

Docs in expressjs - https://expressjs.com/en/api.html#app.param

[2019-09-26 06:09] anuveyatsu commented on #20
This was happening due to content in one of the posts from WP...

[2019-10-08 12:20] starsinmypockets opened #99 "getOrganizations excludes results where organization has no packages"
Due to, I believe, a bug in the CKAN API, the `organization_list` API call will return an empty array if the organization has no packages and `sort: 'package_count'` is included in the body of the request. As a result, the organizations page is empty, even if the CKAN Classic backend has Organizations published.

https://github.com/datopian/frontend-v2/blob/master/lib/dms.js#L57

Propose that unti

[2019-11-04 13:50] anuveyatsu opened #124 "[Model] Fetch views from CC backend"
When fetching metadata from CC backend, e.g., we call `package_show` API action, it doesn't include information about the views. As a result, frontend doesn't know about pre-defined view objects and developers cannot implement renderers for it. Therefore, we need to fetch views together with package/resource metadata from CKAN Classic backend in the model layer.

## Acceptance criteria

* [x] data

[2019-11-05 05:50] anuveyatsu commented on #124
FIXED in https://github.com/datopian/frontend-v2/commit/8d8a504f63c1f32daa995d3a079362755065e331 and https://github.com/datopian/frontend-v2/commit/2356c9976b8c7ee65b822b30ab1b34957d21cbd1

[2019-11-05 05:50] #124 closed

[2019-11-05 13:06] anuveyatsu opened #126 "Resource view display in dataset show page are model driven and "clean""
Refactor dataset view controller to remove auto-view generation and to clean up in general (e.g. where stuff is generated) ...

## Acceptance criteria

* [ ] The resource views for a resource are displayed
* [ ] When there are no views a resource block is not shown (??) (because you can already download that resource from the resources summary table)
  * [ ] and the resources summary table disable

[2019-11-13 12:51] starsinmypockets opened #127 "Remove facet item from facets list if item is already in query"
# Steps to reproduce:

* Visit https://montreal.ckan.io/search
* Click one of the facet items
(url is now https://montreal.ckan.io/search?q=tags:Conseil)
* Click the same facet item again
(url is now https://montreal.ckan.io/search?q=tags:Conseil%20tags:Conseil)
* ad nauseum

# Proposed solution

If facet item is in query (eg: tags:Conseil), do not show in facets list:

<img width="707" alt="Scree

[2019-11-13 12:51] starsinmypockets commented on #127
@anuveyatsu can you confirm my thinking on this

[2019-11-13 20:19] starsinmypockets commented on #127
See https://github.com/datopian/frontend-v2/pull/128

[2019-11-13 20:20] starsinmypockets opened #129 "CMS Routes do not call theme middleware"
CMS routes never call theme middleware - as a result theme variables defined via `res.locals` are not available in theme base-templates, etc.

[2019-11-19 04:44] anuveyatsu commented on #129
@starsinmypockets there is a way to do it: https://github.com/datopian/frontend-v2/blob/master/themes/opendk/index.js#L23-L48

[2019-12-15 18:44] rufuspollock opened #135 "Search page"
Search support like CKAN Classic in Next Gen frontend.

## User Stories

As a User I want to explore and find datasets on the platform so that I can see what is there and find what I want quickly (or know it does not exist)

As a User, I want to browse all datasets available on the data portal so that I can quickly find what I need.

As a User, I want to have search functionality so that I can typ

[2019-12-15 18:46] rufuspollock commented on #135
@anuveyatsu can you update this e.g. check those items that were implemented and leave a detailed comment here with the status. If it is all done we can close as fixed and link to the docs issue at https://gitlab.com/datopian/tech/tech.datopian.com/issues/5

[2020-02-23 03:54] EvgeniiaVak opened #148 "q param in `package_search`"
https://github.com/datopian/frontend-v2/blob/235944eeb49156b97d23ff3699af69e5ee218028/lib/dms.js#L18-L22

Are we sure we need all params in the body?
For example `q` should be in the URL according to the [CKAN doc](https://docs.ckan.org/en/latest/api/index.html): http://demo.ckan.org/api/3/action/package_search?q=spending.

I also tried POST http://demo.ckan.org/api/3/action/package_search with
[c

[2020-02-23 04:05] anuveyatsu commented on #148
@EvgeniiaVak do you mean that it works with GET requests but not with POST?

[2020-02-24 04:47] EvgeniiaVak commented on #148
@anuveyatsu
not exactly, http://demo.ckan.org/api/3/action/package_search?q=name:sales_data - works regardless of whether it is GET or POST.
but when `q` is in the body of the request (which the code snippet does - puts it in the body), it doesn't work

[2020-02-24 06:38] anuveyatsu commented on #148
@EvgeniiaVak probably curl command is wrong:

[code]

[2020-02-24 07:37] EvgeniiaVak commented on #148
@anuveyatsu the curl code was from postman app. It's strange the one you've sent doesn't work for me (in terminal) at all:
[code]

but anyways, I now tried a quick test it in JS:
[code]

The output is:
[code]

which means that this filter doesn't work when in the request body.

I suggest we add another parameter to the [frontend-v2 search function](https://github.com/datopian/frontend-v2/blob/2359

[2020-02-24 07:44] anuveyatsu commented on #148
@EvgeniiaVak sorry, I had wrong url in the curl command. Fixed now.

I'm also using an app similar to postman and it works just fine.

[2020-02-26 07:57] gavram opened #150 "Ckan-pages plugin does not return a valid value for the date of publishing"
Ckan-pages plugin does not return correct value for publishing date. Instead of that, current date value is showing on blog posts.

Example:
![montreal_blog_now](https://user-images.githubusercontent.com/12686547/75323631-91472c00-5875-11ea-97b9-6e9f0eb81b7c.png)

### Analysis:

As you can see here:
https://montreal.l3.ckan.io/api/3/action/ckanext_pages_list

or here:
https://montreal.l3.ckan.io/a

[2020-02-26 07:58] gavram commented on #150
@anuveyatsu Please comment, should I proceed with proposed solution and create PR.

[2020-03-03 04:10] anuveyatsu commented on #148
@EvgeniiaVak could you check if this curl command works and if so please close this issue:

[code]

[2020-03-03 04:13] anuveyatsu commented on #150
@gavram of course - no need to wait for my approval. Please, follow the issue structure from the handbook - http://handbook.datopian.com/issues-tasks/ eg, I can't see:

* acceptance criteria section
* tasks section

[2020-03-03 04:18] anuveyatsu commented on #129
Basically, the order is:

1. Plugin routes
2. Theme routes
3. Core routes

CMS routes were calling `res.render` method and finishing the response so theme controllers never called.

We already doing some fixes, e.g.,:

https://github.com/datopian/frontend-v2/commit/a657d7874bed58e5d0fb68ceb68ff29fb844fe09#diff-00ba1bab034fd58d5a96700a38818a08

I'm closing this issue because:

- a workaround is pro

[2020-03-03 04:18] #129 closed

[2020-03-03 04:19] anuveyatsu commented on #20
FIXED now http://opendata.dk/blog

[2020-03-03 04:19] #20 closed

[2020-03-03 04:22] anuveyatsu commented on #10
Closing this as FIXED. See comment above.

[2020-03-03 04:22] #10 closed

[2020-03-03 04:23] anuveyatsu commented on #4
Closing as FIXED. All theme related configs etc should be stored in the project's directory. See example: https://github.com/datopian/frontend-oddk

[2020-03-03 04:23] #4 closed

[2020-03-03 04:26] anuveyatsu commented on #23
@starsinmypockets we are already using `@datopian` scope on NPM:

https://www.npmjs.com/settings/datopian/packages

So closing this issue as FIXED.

[2020-03-03 04:26] #23 closed

[2020-03-03 04:27] anuveyatsu commented on #24
Closing as FIXED. See docs here - http://tech.datopian.com/frontend/#extending-plugins-2

[2020-03-03 04:27] #24 closed

[2020-03-03 04:28] anuveyatsu commented on #25
We're using `nunjucks` here, please, see https://mozilla.github.io/nunjucks/templating.html#template-inheritance

[2020-03-03 04:28] #25 closed

[2020-03-03 04:30] anuveyatsu commented on #93
Closing as FIXED as the workaround is provided.

[2020-03-03 04:30] #93 closed

[2020-03-03 04:33] anuveyatsu commented on #27
We have done in details docs for the frontend app here - http://tech.datopian.com/frontend/

High level - http://tech.datopian.com/frontend/#design-how-it-works

Theming - http://tech.datopian.com/frontend/#theming-2

Extending - http://tech.datopian.com/frontend/#extending-plugins-2

[2020-03-03 04:33] #27 closed

[2020-03-03 04:35] anuveyatsu commented on #22
Closing this epic as FIXED. See docs about plugin / extensibility here - http://tech.datopian.com/frontend/#theming-2 and http://tech.datopian.com/frontend/#extending-plugins-2

[2020-03-03 04:35] #22 closed

[2020-03-03 05:51] EvgeniiaVak commented on #148
@anuveyatsu the curl command you've sent works all right

[2020-03-03 05:51] #148 closed

[2020-03-05 11:42] EvgeniiaVak opened #158 "POST vs GET requests in DMS"
Some DMS methods use POST requests to get data:
* https://github.com/datopian/frontend-v2/blob/61000d863d9af71a244b68a4456ec93c54704e24/lib/dms.js#L13
* https://github.com/datopian/frontend-v2/blob/61000d863d9af71a244b68a4456ec93c54704e24/lib/dms.js#L59
* https://github.com/datopian/frontend-v2/blob/61000d863d9af71a244b68a4456ec93c54704e24/lib/dms.js#L113
* https://github.com/datopian/frontend-v2/

[2020-03-12 04:25] #158 closed

[2020-03-16 04:19] anuveyatsu commented on #150
@gavram is this done and can be closed?

[2020-03-16 04:37] anuveyatsu opened #161 "[CMS][WP] Ability to view draft pages"
When I'm preparing pages in the WordPress, I want to view draft pages in my staging/test site, so that I can make sure it looks great prior to publishing it in production.

## Acceptance criteria

* [ ] I can quickly configure my staging/test site to display draft pages

## Tasks

* [ ] Update docs at http://tech.datopian.com/frontend/plugins/#wp
  * [ ] It should explain how to use `WP_SHOW_DRAFT

[2020-03-16 06:56] gavram commented on #150
@anuveyatsu  Yes, please.

[2020-03-18 13:40] EvgeniiaVak opened #164 "WP plugin `getPost` new signature"
There was a recent update in WP CmsModel class, method `getPost`:

this:
https://github.com/datopian/frontend-v2/blob/9a4a4e373f190361e46b56140bbcc190aa0569e6/plugins/wp/cms.js#L14

became this:
https://github.com/datopian/frontend-v2/blob/df45207d986ad0dc20e6c5cbf68f8b597404014f/plugins/wp/cms.js#L17

now a simple use such as:
[code]
won't work, you have to specify object instead of a string:
[co

[2020-03-19 04:30] anuveyatsu commented on #164
Hey @EvgeniiaVak great that you've raised this. It is necessary as we want to be able to get draft posts where needed. I understand that it can break some of the existing projects so we can release a new version specifying that it contains a breaking change.

Generally, I suggest upgrading the project's code to use a new signature because it will add a new feature to preview the posts/pages in the

[2020-03-19 05:10] EvgeniiaVak commented on #164
Got it. Thank you @anuveyatsu

[2020-03-19 05:10] #164 closed

[2020-03-19 09:37] EvgeniiaVak opened #165 "`v1.0.x` branch and the project versioning"
There are some features in `v1.0.x` branch which probably can be in master (almost everything - see the comparison https://github.com/datopian/frontend-v2/compare/v1.0.x - except the version number update).

And in general something strange is going on with the project versions: v1.1.0 comes before v1.0.1.

Some themes depend on the changes from `v1.0.x` branch and if we wish to update it to use n

[2020-03-19 10:15] anuveyatsu commented on #165
@EvgeniiaVak creating PR from `v1.0.x` to `master` sounds reasonable.

The reason that v1.0.1 was released after v1.1.0 is that they were in different branches. So we are doing work on `v1.0.x` independently and releasing tags.

[2020-03-20 05:58] EvgeniiaVak commented on #165
@anuveyatsu
Is it ok if I merge `master` into `v1.0.x` to resolve conflicts?

[2020-03-20 06:31] anuveyatsu commented on #165
@EvgeniiaVak yes, option 2 sounds ok to me too.

[2020-03-20 07:21] EvgeniiaVak commented on #165
FIXED. See https://github.com/datopian/frontend-v2/commit/e9df25e6c5cd2fa3eaeab072cdce10b569a02776

[2020-03-20 07:21] #165 closed

[2020-03-20 07:21] anuveyatsu opened #167 "When paginating the sort option is lost"
E.g., visit https://www.opendata.dk/search and select sort option other than default one:

https://www.opendata.dk/search?q=&sort=views_recent%3Adesc

Next, try to go to page 2 and see that queries are lost.

[2020-03-23 08:12] gavram commented on #167
This affects all projects which use `frontend-v2`. A simple solution is implemented in:

#### National Grid

* https://gitlab.com/datopian/clients/national-grid/-/commit/903605b0a5bcd41fb85f5b730d13f0bd11a8bc02

#### Montreal

* https://gitlab.com/datopian/clients/ckan-montreal/-/commit/32106e69a51ba2c5356f2036f3ee1cff3bb17d7c

[2020-05-25 10:19] rufuspollock opened #170 "Some feedback from Victor on misc small improvements (Sep 2019)"
# DMS

## Structure

The entire DMS sits in one file, importing a model from the same file and a utils lib from another file. The CKAN API is too vast to be contained in a flat structure, so breaking the DMS / model into namespaces/endpoints.

Example:
[code]

I accidentally reimplemented the DMS over the weekend, not knowing it exists. Proposed structure is something around these lines (snippets

[2020-05-26 09:35] anuveyatsu commented on #150
@gavram please close it then with some info about the fix.

[2020-05-26 09:42] gavram commented on #150
@anuveyatsu I'll do that as soon as possible.

[2020-07-29 13:40] sabinem opened #176 "Can routes and and i18n configuration be customized?"
We are currently developing a theme for this frontend.

What we struggle with is the following:

- Certain routes that we need to implement, `/dataset` for example, are currently redirected by the router. How can we customize the routing?

- How can we customize the configuration of i18n? We would like to have it served from static files rather then from self updating ones.

These are questions on

[2020-07-30 06:30] EvgeniiaVak commented on #176
@sabinem

About routing customization - it depends. You can see the order in which controllers are declared in main `index.js`, the `/dataset` is declared here https://github.com/datopian/frontend-v2/blob/master/index.js#L110-L112 - after the theme, so this this endpoint should be easily overridable by your theme code. Plugins however [are loaded before the theme](https://github.com/datopian/front

[2020-07-31 07:26] sabinem commented on #176
@EvgeniiaVak

Thanks so much for getting back to me on this.

I get your point on the internationalization. I think we can live with that.

The routes are a different topic:
All of our routes are custom for historical reasons: we just need to rebuild an existing application and preserve all urls.
What would help me most in this regard, would be a configuration option in the .env to disable all sta

[2020-07-31 08:08] EvgeniiaVak commented on #176
@sabinem Making the app more configurable sounds ok to me, as long as the old behavior is not changed.

@anuveyatsu @starsinmypockets  What do you think? Would it be ok to have configuration option disabling DMS routes? Maybe we could also make plugin routes optional too?

[2020-08-05 05:51] anuveyatsu commented on #176
@sabinem @EvgeniiaVak I'm not sure if disabling all core routes would be helpful. In that case why not to build an Express app from scratch as I think there will be very little benefit of using this library?

Re plugins, the controllers are only enabled when you add a plugin into your config file afaik.

[2020-09-03 19:18] rufuspollock commented on #69
WONTFIX. Not worth it at this point with portal.js

[2020-09-03 19:18] #69 closed

[2020-09-15 06:26] sagargg opened #182 "Useful logging using winston"
On google console, the logs are breaking in lines. So it is very difficult to pin-down the logs.

<img width="1106" alt="Screen Shot 2020-09-15 at 12 05 57" src="https://user-images.githubusercontent.com/11631101/93173160-d23c5a80-f74b-11ea-8249-ec055f4ed24c.png">

## Acceptance criteria

* [x] logs are easily readable
* [x] contains timestamp
* [x] contains log level
* [x] contains message

diffi

[2020-11-02 11:11] anuveyatsu opened #188 "Session data is stored in app memory"
This causes the 2 issues:

* Impossible to horizontal scale as all session data is stored in the memory of the process so when it's gone all data is lost. Storing in some db, eg, redis would solve the issue. See https://www.npmjs.com/package/express-session#session-store-implementation
* Chance of crashing due to out of memory error

## Acceptance criteria

* [ ] When I run the app in non `product

[2020-11-02 11:12] anuveyatsu commented on #188
@pwalsh just tagging you to acknowledge the raised issue last week.
cc @zelima @shubham-mahajan

[2020-12-19 14:13] sagargg commented on #182
Closing as Fixed.

[2020-12-19 14:13] #182 closed

[2020-12-19 14:22] sagargg commented on #161
Already implemented.
https://github.com/datopian/frontend-v2/blob/master/plugins/wp/cms.js#L9-L14

[2020-12-19 14:22] #161 closed

[2021-01-05 04:36] anuveyatsu opened #196 "CI/CD: move from Travis to Github Actions"
Since Travis-ci.org is now not working, we want to use this opportunity to move to GH Actions that is default in our projects.

## Acceptance criteria

* [x] The tests are running in the CI using GH Actions

## Tasks

* [x] Remove Travis config
* [x] Add GH Actions config (using node v12)
* [x] Run tests in the CI

[2021-01-06 11:54] anuveyatsu commented on #196
FIXED in #198

[2021-01-06 11:54] #196 closed

[2021-01-22 07:39] anuveyatsu commented on #188
FIXED. See related PR above.

[2021-01-22 07:39] #188 closed

[2021-01-22 07:39] anuveyatsu opened #200 "Resolve security issues reported by dependabot"
See https://github.com/datopian/frontend-v2/security/dependabot

[2021-08-12 09:00] anuveyatsu opened #216 "Support for Google Dataset Search"
Get indexed by https://datasetsearch.research.google.com/

Docs - https://developers.google.com/search/docs/advanced/structured-data/dataset